name: Pipeline

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: taste_food
        ports:
          - 5432:5432
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Build and analyze
        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dspring.profiles.active=test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  docker:
    if: github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: cristianobarros/taste-food
  deploy:
    if: github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch'
    needs: docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}
      - name: Update Kubeconfig
        run: aws eks update-kubeconfig --name ${{ vars.AWS_EKS_CLUSTER_NAME }} --region ${{ vars.AWS_REGION }}
      - name: Replace Secrets
        run: |
          sed -i "s/\${SPRING_DATASOURCE_URL}/$(echo -n ${{ secrets.SPRING_DATASOURCE_URL }} | base64 -w 0)/g" k8s/secret.yaml
          sed -i "s/\${SPRING_DATASOURCE_USERNAME}/$(echo -n ${{ secrets.SPRING_DATASOURCE_USERNAME }} | base64 -w 0)/g" k8s/secret.yaml
          sed -i "s/\${SPRING_DATASOURCE_PASSWORD}/$(echo -n ${{ secrets.SPRING_DATASOURCE_PASSWORD }} | base64 -w 0)/g" k8s/secret.yaml
          sed -i "s/\${SPRING_RABBITMQ_ADDRESSES}/$(echo -n ${{ secrets.SPRING_RABBITMQ_ADDRESSES }} | base64 -w 0)/g" k8s/secret.yaml
          sed -i "s/\${SPRING_RABBITMQ_USERNAME}/$(echo -n ${{ secrets.SPRING_RABBITMQ_USERNAME }} | base64 -w 0)/g" k8s/secret.yaml
          sed -i "s/\${SPRING_RABBITMQ_PASSWORD}/$(echo -n ${{ secrets.SPRING_RABBITMQ_PASSWORD }} | base64 -w 0)/g" k8s/secret.yaml
      - name: Deploy to EKS
        run: kubectl apply -f k8s
      - name: Rollout Restart
        run: kubectl rollout restart -f k8s/deployment.yaml
